@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: unset !important;
}
a {
  text-decoration: none;
  color: #c4cfde;
}
a:hover {
  --bs-link-color-rgb: none !important;
}
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color-2);
  color: var(--sec-color);
}
:root {
  --bg-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --bg-color-2: #212428;
  --bg-input: #191b1e;
  --main-color: #ff014f;
  --sec-color: #c4cfde;
  --shadow1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --shadow2: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --main-transition: 0.4s;
}
.main-color {
  color: var(--main-color);
}
.bg-input {
  background-color: var(--bg-input);
}
.sec-color {
  color: var(--sec-color);
}
.bg-color-1 {
  background: var(--bg-color-1);
}
.bg-color-2 {
  background: var(--bg-color-2);
}
.shadow-main {
  box-shadow: var(--shadow1);
}
.inner-shadow {
  box-shadow: var(--shadow2);
}
.main-padding {
  padding: 18px;
}
.head {
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  margin-bottom: 22px;
  color: #c4cfde;
}
.container {
  border-bottom: 1px solid #000;
}
.navbar {
  box-shadow: var(--shadow1);
}
.navbar .container {
  border-bottom: none;
}
header .content > span {
  color: #c4cfde;
}
header h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 75px;
  margin-bottom: 22px;
}
header h1 span {
  color: var(--main-color);
  font-size: 40px;
}
header p {
  font-size: 16px;
  line-height: 30px;
  color: #c4cfde;
  padding-right: 16px;
}
header .social a,
footer .social a {
  background: var(--bg-color-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  margin-right: 10px;
  box-shadow: var(--shadow1);
  transition: all var(--main-transition);
}
header .social a:hover,
footer .social a:hover {
  transform: translateY(-5px);
}
header .social a i {
  color: #c4cfde;
}
header .social h6 {
  color: #c4cfde;
}
header .button {
  width: 40% !important;
  background: var(--bg-color-1);
  box-shadow: var(--shadow1);
  color: #c4cfde;
  border-radius: 6px;
  border: none;
  padding: 10px 24px;
  transition: all var(--main-transition);
}
header .button:hover {
  transform: translateY(-5px);
}
header .image {
  transform: translate(25px, -25px);
}
.services .card-item {
  transition: all var(--main-transition);
}
.services .card-item:hover {
  transform: translateY(-8px);
}
.portfolio .description p {
  font-size: 14px;
}
.portfolio ul {
  background: var(--bg-color-1);
  box-shadow: var(--shadow1);
}
.portfolio ul li {
  color: #c4cfde;
  border-radius: 6px;
  border: none;
  padding: 10px 24px;
  margin-right: 15px;
  cursor: pointer;
  transition: all var(--main-transition);
}
.portfolio ul .active {
  color: var(--main-color);
}
.portfolio ul li:hover {
  color: var(--main-color);
}
.card-item .image img {
  transition: all 0.6s;
}
.card-item:hover .image img {
  transform: scale(1.1);
}
.card-item a {
  transition: all var(--main-transition);
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
}
.card-item a:hover {
  color: var(--main-color);
}
.skills .skill {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc((100% / 7) - 10px);
  padding: 10px;
  border-radius: 10px;
  background: var(--bg-color-1);
  box-shadow: var(--shadow1);
}
.mid-div span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc((100% / 3) - 10px);
  padding: 10px;
  border-radius: 10px;
  background: var(--bg-color-1);
  box-shadow: var(--shadow1);
}
.contact input,
.contact textarea {
  outline: none !important;
  border: 2px solid #191b1e !important;
  color: var(--sec-color) !important;
}
.contact input:focus,
.contact textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: var(--bg-input);
  border: 2px solid var(--main-color) !important;
}
.contact .vip > div {
  width: calc((100% / 2) - 10px);
}
.contact a {
  border: none !important;
  transition: all var(--main-transition);
}
.contact a:hover {
  transform: translateY(-5px);
}
#slideUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--sec-color);
  box-shadow: var(--shadow1);
  z-index: 55555;
  display: none;
}
.services .card-item i {
  font-size: 40px;
}

#scroller {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  height: 2px;
  z-index: 999999;
}
